/* =========================
   PAGE DISQUES
========================= */

.disks-page {
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.disks-page-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.disks-title-icon {
  font-size: 32px;
  color: #374151;
}

.disks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}

/* =========================
  SECTION DIVIDER EFFET
========================= */

.section-divider {
  height: 2px;
  width: 100%;
  margin: 16px 0 24px;

  background: linear-gradient(
    90deg,
    #111827 0%,
    #4b5563 50%,
    transparent 100%
  );

  box-shadow: 0 0 8px rgba(107, 114, 128, 0.25);
}



/* =========================
   RESPONSIVE MOBILE
========================= */

@media (max-width: 768px) {
  .disks-page {
    padding: 12px;
  }

  .disks-page-title {
    margin-top: 60px;
    font-size: 22px;
  }

  .disks-title-icon {
    font-size: 28px;
  }

  .disks-grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}