/* =========================
   PAGE ZPOOLS
========================= */

.zpools-page {
  font-family: Arial, sans-serif;
}

.zpools-page-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.zpools-title-icon {
  font-size: 32px;
  color: #374151;
}


/* =========================
   GRILLE ZPOOLS
========================= */

.zpools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 24px;
}

/* =========================
  SECTION DIVIDER EFFET
========================= */

.section-divider {
  height: 2px;
  width: 100%;
  margin: 16px 0 24px;

  background: linear-gradient(
    90deg,
    #111827 0%,
    #4b5563 50%,
    transparent 100%
  );

  box-shadow: 0 0 8px rgba(107, 114, 128, 0.25);
}


/* =========================
   RESPONSIVE MOBILE
========================= */

@media (max-width: 768px) {

  .zpools-page {
    padding: 12px;
  }

  .zpools-page-title {
    margin-top: 60px;
    font-size: 21px;
  }

  .zpools-title-icon {
    font-size: 28px;
  }

  .zpools-grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}